---
layout: default
description: 
---
<div class="container-fluid fill">
    <div class="row-fluid">
        <div class="span9 hero-unit filler">
            <h1>PhDiary</h1>
            <ul cl4ss="unstyled">
            {% for post in site.tags.phd %}
            <li><a href="{{ post.url }}">{{ post.title }} <i class="icon-hand-left"></i></a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="span9">
            <h1>Everything</h4>
            <ul cl4ss="unstyled">
            {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }} <i class="icon-hand-left"></i></a></li>
            {% endfor %}
        </div>
    </div>
</div>

