---
layout: default
description: 
---

<h1>Tom Nickson</h1>
<h3>PhDiary</h3>
<span>
    <p>Watch as I try to keep a regular log of what I'm getting up to in my Machine Learning DPhil. 
</span>
<ul cl4ss="unstyled">
{% for post in site.phd %}
<li><a href="{{ post.url }}">{{ post.title }} <i class="icon-hand-left"></i></a></li>
{% endfor %}
</ul>
<h3>Other stuff</h3>
<span>
    <p>Watch as I try to keep a regular log of what I'm getting up to in my Machine Learning DPhil. 
</span>
<ul cl4ss="unstyled">
{% for post in site._posts %}
<li><a href="{{ post.url }}">{{ post.title }} <i class="icon-hand-left"></i></a></li>
{% endfor %}


