<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
		{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
		{% endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" media="screen" href="/assets/css/bootstrap-extensions.css" type="text/css" />
		<link rel="stylesheet" href="http://softwaremaniacs.org/media/soft/highlight/styles/solarized_light.css">

	</head>

	<body>
		<div class=container>
			<div class="row">
				<div class="span3" id="menu_col">

					<div id='sidebar'>
						<ul class="unstyled">
							<li><a href="/">Home <i class="icon-hand-left"></i></a></li>
							{% for page in site.html_pages %}
							{% if page.title %} <li><a href="{{ page.url }}">{{ page.title }} <i class="icon-hand-left"></i></a></li> {% endif %}
							{% endfor %}
						</ul>
						<br>
						<ul class="unstyled">
							<li><a target="_blank" href="http://github.com/c0g">GitHub - Public</a></li>
							<li><a target="_blank" href="http://bitbucket.org/tnickson/">BitBucket - Private</a></li>
						</ul>
					</div>

				</div>

				<!-- CONTENT -->
				<div class="span9" id="content_col">

					<div id='content'>
						{{ content }}
					</div>

				</div>
			</div>
		</div>


		<script src="http://softwaremaniacs.org/media/soft/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>




	</body>
</html>
